
html, body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	font-weight: 300;
	background: #eee;
	margin: 0;
}

:after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
	transition: all .30s ease-in-out;
	-moz-transition: all .30s ease-in-out;
	-webkit-transition: all .30s ease-in-out;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -62px;
}
.footer {
	height: 62px;
}
.push {
	height: 80px;
}


@media (min-width: 768px) {
	.contain {
		width: 720px;
	}
}
@media (min-width: 992px) {
	.contain {
		width: 950px;
	}
}
@media (min-width: 1200px) {
	.contain {
		width: 1150px;
	}
}

.contain {
	margin: auto;
}

p {
	padding: 20px;
}


/* navbar styling */
.navbar {
	background-color: #222;
	color: white;
}
.navbar-list {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	display: table-cell;
}

.navbar-list > li {
	padding: 15px;
	float: left;
	position: relative;
	display: block;
}

.navbar-list > li > a {
	color: white;
	text-decoration: none;
}
.navbar-list > li > a:hover {
	color: #00c6f2;
	text-decoration: none;
}


/* header styling */
.header {
	background: url('bg.png') center;
	background-size: cover;
	padding: 50px;
	margin-bottom: 30px;
}

.header h1 {
	font-size: 70px;
	margin: 20px;
	color: white
}


/* footer styling */
.footer {
	background: #333;
	color: white;
}









hr {
	margin-bottom: 20px;
}

.references {
	padding-top: 20px;
}

#specificImage {
	padding: 40px;
	margin: auto;
	display: block;
}